version: "3.9"

services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - ./mongo-data:/data/db
    restart: always

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--save", "20", "1", "--loglevel", "warning"]
    volumes:
      - ./redis-data:/data
    restart: always

  backend:
    build: ./music-manager
    container_name: music-backend
    ports:
      - "2010:2010"
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/musicdb
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
      - SPRING_DATA_REDIS_TIMEOUT=60000
    depends_on:
      - mongodb
      - redis
    restart: always
