/* src/components/common/Input/Input.css */
.input-wrapper {
  margin-bottom: 15px;
  width: 100%;
}

.input-wrapper label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.custom-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.custom-input:focus {
  border-color: #007bff;
  outline: none;
}